<div class="category_{{ category.slug }}">
  <div class="category">
    <div class="feed">
      <a href="">Feed</a>
    </div>
    <h1><a href="{{ url('category_show', { 'slug' : category.slug } ) }}">{{ category }}</a></h1>
  </div>

  {% include 'ZiaJobBundle:Job:list.html.twig' with {'jobs' : category.jobs} only %}
    
  {% block paginator %}
    {% if maxResults is defined %}
      {% set notShown = maxResults[category.id] - 10 %}  
      {% if (notShown > 0) %}
        <div class="more_jobs">
          and <a href="{{ url('category_show', { 'slug' : category.slug } ) }}">{{ notShown }}</a>
          more...
        </div>
      {% endif %}
    {% endif %}
  {% endblock %}
</div>