{% extends 'ZiaJobBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  <link href="{{ asset('bundles/ziajob/css/jobs.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}
  
{% block title %}
  Job - List of Jobs
{% endblock %}
  
{% block content %}
<div id="jobs">
  <table class="jobs">
    {% for index, job in jobs %}
      <tr class="{{ cycle(['odd', 'even'], index) }}">
        <td class="location">{{ job.location }}</td>
        <td class="position">
          <a href="{{ url('job_show', { 'company' : job.company, 'location': job.location, 'id' : job.id,  'position': job.position }) }}">
            {{ job.position }}
          </a>
        </td>
        <td class="company">{{ job.company }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}