{% extends '::layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  
  <script type="text/javascript" src="{{ asset('bundles/ziajob/js/jquery-1.6.2.min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="content">
{% if app.session.hasFlash('error') %}
    <div class="flash-error">
        {{ app.session.flash('error') }}
    </div>
{% endif %}
{% if app.session.hasFlash('notice') %}
    <div class="flash-notice">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
  <h1>Hi here!</h1>
</div>
{% endblock %}